{% extends "base_template.html" %}
{% block content %}


<div class="d-flex align-items-center justify-content-center mt-4" id="login">
    <!-- Default form register -->
    <form class="text-center border border-light p-5" action="{% url 'change_password' %}" method="POST" id="add_form">
        {% csrf_token %}

        <p class="h4 mb-4">비밀번호 변경</p>

        <!-- Email -->
        <input type="password" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Old Password" name="old_password" required="required">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password1" required="required">

        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Confirm Password" name="password2" required="required">

        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block bg-dark" type="submit">Submit</button>

    </form>
    <!-- Default form register -->
</div>


{% endblock %}
