{% extends "base_template.html" %}
{% block content %}

<div class="container">

<div>
    <h2>Group {{group_no}} 정보</h2>
</div>
<hr>
<table class="table table-inboxx table-hover style="width:100%">
    <tbody>
    <tr>
        <th></th>
        <th>학번</th>
        <th>이름</th>
        <th></th>
    </tr>
{% for info in userinfo_list %}
    <tr class="unread">
        <td class="inbox-small-cells"> {{ forloop.counter }}</td>
        <td class="view-message dont-show">
            {{ info.student_info.student_id }}
        </td>
        <td class="view-message dont-show">
            {{ info.student_info.name }}
        </td>
        <td>
            <form method="POST">
                {% csrf_token %}
                <button id="confirm-delete" type="submit" name="userinfo_pk" style="margin-left:40%;" class="btn btn-danger" value="{{ info.pk }}">삭제</button>
            </form>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

</div>

<script>
    $(document).on('click', '#confirm-delete', function(){
    return confirm('유저를 삭제하시겠습니까?');
    })
</script>

{% endblock %}
