{% extends "base_template.html" %}
{% block content %}
  <h2>멤버정보

  </h2>
  <hr>

  <table class="table table-inbox table-hover">
  <tbody>
      <tr>
          <th>학번</th>
          <th>이름</th>
          <th>출석횟수</th>
          <th>누적시간</th>
      </tr>
   {% for member in list %}
      <tr class="unread">
          <td class="inbox-small-cells">
              {{ member.student_id }}
          </td>

          <td class="view-message  dont-show">
              {% if member.num_posts > 9 %}
              <font color="green">
              {{ member.name }}
              </font>
              {% else %}
              {{ member.name }}
              {% endif %}
          </td>
          <td class="view-message ">{{ member.num_posts }}</td>
          <td class="view-message ">{{ member.total_time }}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>


{% endblock %}
