{% extends "base_template.html" %}
{% block content %}

<div class="d-flex align-items-center justify-content-center mt-4" id="login">
    <!-- Default form login -->
    <form class="text-center border border-light p-5" action="{% url 'loginpage' %}" method="POST" id="add_form">
        {% csrf_token %}

        <p class="h4 mb-4">Login</p>

        <!-- Email -->
        <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="User Id" name="username" required="required">


        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password" required="required">

        <!-- Forgot password -->
        <!-- <div class="d-flex justify-content-around">

            <div>

                <a href="">Forgot password?</a>
            </div>
        </div> -->

        <!-- Login button -->
        <button class="btn btn-info btn-block my-4 bg-dark" type="submit">Login</button>

    </form>
</div>


<!-- Buttons-->
<div class="row text-center d-flex align-items-center justify-content-center mt-6 p-5">
    <p class="h4 mb-3">Team Chickadee Contact</p>
    <div class="col-md-4">
        <a class="btn-floating blue accent-1">
            <i class="fas fa-envelope"></i>
        </a>

        <p>21300109@handong.edu</p>
        <p class="mb-0">21700083@handong.edu</p>

    </div>

    <p class="h4 mb-3 mt-5">Prof Contact</p>
    <div class="col-md-4">
        <a class="btn-floating blue accent-1">
            <i class="fas fa-envelope"></i>
        </a>
        <p>jcnam@handong.edu</p>
    </div>
</div>
{% endblock %}
