{% extends "base_template.html" %}
{% block content %}

<div class="container-fluid mb-4" id="form_container">
    <br>

    <form
        method="POST"
        action=""
        enctype="multipart/form-data"
        id="memberform"
    >
        {% csrf_token %}
        {{ form.student_id }}
        {{ form.name }}
        {{ form.email }}

        <p>
            <br>
            <button id='submit' type="submit" class="btn-dark btn-block">+</button>
        </p>
    </form>
</div>

{% endblock %}
