{% extends "base_template.html" %}
{% block content %}
<div class="d-flex align-items-center justify-content-center mt-4">
    
    <div class="">
        <div class="justify-content-center">
            <h3>스터디 그룹 미배정</h3>
            <hr>
            <p>다음과 같은 이유 중 하나로 스터디 그룹 배정이 되지 않았습니다.</p>
            <br>
            <p>&nbsp(1) 스터디를 함께 하는 친구가 있는데, 그 친구만 신청하고 본인은 신청을 안했거나 서로 같이 하겠다는 정보를 기입 안했을 경우</p>
            <p>&nbsp(2) 신청서 마지막 항목인 개인정보제공에 동의합니까? 질문에 동의를 안한 경우</p>
            <p>&nbsp(3) 매칭되는 과목이 없어 마땅한 그룹이 없는 경우</p>
            <br>
            <p>위와 같은 경우 신청을 다시 하거나 기존 신청을 업데이트 해야 하니, 남재창 교수(<b>jcnam@handong.edu</b>)에게 메일을 보내세요.</p>
            <br>
            <p>기타 문의는 아래 주소로 연락해주세요. </p>
            <br>
        </div>

        <br>

        <div class="d-flex justify-content-center">
            <p class="h4 mb-3">Team Chickadee Contact</p>
        </div>

        <div id="contact_info" class="text-center">
            <i id="contact_info_icon" class="fa fa-address-card-o"></i>
            <p><a href='mailto: hisystem@handong.edu' target='_blank'> hisystem@handong.edu </a></p>
        </div>
    </div>
</div>

{% endblock %}
