{% extends "base_template.html" %}
{% block content %}

<div class="container">
  {% if userobj.is_staff %}
  {% if username %}
           <h2>Welcome <span style="color: #F46404;">{{ username }} </h2>
   {% endif %}
  {% else %}
  <h2>멤버정보
      <a style="float:right;" href="{% url 'add_member' %}" class="btn btn-outline-primary">멤버생성</a>
  </h2>
  <hr>
  <table style="width:100%">
      <tr>
          <th>학번</th>
          <th>이름</th>
          <th>Email</th>
          <th></th>
      </tr>
  {% for member in list %}
      <tr>
          <th> {{ member.student_id }} </th>
          <th>
              {{ member.name }}
          </th>
          <th> {{ member.email }}</th>
          <th><a class="confirm-delete" href="{% url 'confirm_delete_member' member.pk %}">멤버삭제</a></th>
      </tr>
  {% endfor %}
  </table>

  {% endif %}
</div>

<script>
    $(document).on('click', '.confirm-delete', function(){
    return confirm('멤버를 삭제하시겠습니까?');
    })
</script>

{% endblock %}
