{% extends "base_template.html" %}
{% block content %}

<div class="container">
  <table style="width:100%">

  {% if userobj.is_staff %}
  <tr>
    <th>groupNo</th>
    <th>stuID</th>
    <th>name</th>
  </tr>

  </table>
  {% else %}
  <h2>멤버정보</h2> <a href="{% url 'add_member' %}" class="btn btn-outline-primary">멤버생성</a>
  <hr>
  <table style="width:100%">
      <tr>
          <th>학번</th>
          <th>이름</th>
          <th>Email</th>
      </tr>
  {% for member in list %}
      <tr>
          <th> {{ member.student_id }} </th>
          <th>
              {{ member.name }}
          </th>
          <th> {{ member.email }}</th>
      </tr>
  {% endfor %}
  </table>

  {% endif %}
</div>

{% endblock %}
