{% extends "base_template.html" %}
{% block content %}
<h3>공지사항
    {% if user.is_staff %}
    <a style="float:right;" href="{% url 'announce_write' %}" class="btn btn-outline-primary">공지 추가</a>
    {% endif %}
</h3>
<hr>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>공지</th>
        <th>작성자</th>
        <th>날짜</th>
    </tr>
{% for post in list %}
    <tr>
        <th> {{ forloop.counter }}</th>
        <th>
            <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
            </a>
        </th>
        <th> {{ post.author }}</th>
        <th>{{ post.date }}</th>
        {% if user.is_staff %}
            <th><a class="confirm-delete" href="{% url 'confirm_delete_announce' post.pk %}">공지삭제</a></th>
        {% endif %}
    </tr>
{% endfor %}
</table>

<script>
    $(document).on('click', '.confirm-delete', function(){
    return confirm('공지를 삭제하시겠습니까?');
    })
</script>

{% endblock %}
