{% extends "base_template.html" %}
{% block content %}

<div class="container">
<h2>공지사항
    {% if user.is_staff %}
    <a style="float:right; color:black;" href="{% url 'announce_write' %}" class="btn btn-outline-secondary">공지 추가</a>
    {% else %}
    <a style="float:right;" href="{% url 'inquiry' %}" class="btn btn-outline-primary">문의</a>
    {% endif %}
</h2>
<hr>
<table class="table table-inboxx table-hover style="width:100%">
    <tbody>
    <tr>
        <th></th>
        <th>공지</th>
        <th>날짜</th>
    </tr>
{% for post in list %}
    <tr class="unread">
        <td class="inbox-small-cells"> {{ forloop.counter }}</td>
        <td class="view-message dont-show">
            <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
            </a>
        </td>
        <td class="view-message">{{ post.date }}</td>
        {% if user.is_staff %}
            <td><a class="confirm-delete" href="{% url 'confirm_delete_announce' post.pk %}">공지삭제</a></td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>

</div>

<script>
    $(document).on('click', '.confirm-delete', function(){
    return confirm('공지를 삭제하시겠습니까?');
    })
</script>

{% endblock %}
