{% extends "base_template.html" %}
{% block content %}
<h2>공지사항
    {% if user.is_staff %}
    <a style="float:right;" href="{% url 'announce_write' %}" class="btn btn-outline-primary">공지 추가</a>
    {% endif %}
</h2>
<hr>
<table style="width:100%">
    <tr>
        <th>id</th>
        <th>공지</th>
        <th>작성자</th>
        <th>날짜</th>
    </tr>
{% for post in list %}
    <tr>
        <th> {{ post.id }} </th>
        <th>
            <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
            </a>
        </th>
        <th> {{ post.author }}</th>
        <th>{{ post.date }}</th>
    </tr>
{% endfor %}
</table>

{% endblock %}
