<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
		<title>Histudy</title>
		{% endblock %}
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		  <!-- Add additional CSS in static file -->
  		{% load static %}
		<script src="https://kit.fontawesome.com/bb5d018091.js" crossorigin="anonymous"></script>
		{% block script %}{% endblock %}

	</head>
	<style>
		body { padding-bottom: 70px; }
	</style>

	<body>

		<nav class="navbar navbar-expand-md navbar-light bg-dark mb-4">
			<div class="navbar justify-content-start">
				<a class="navbar-brand" href="{% url 'main' %}">
					<font color=white>
						{% if username %}
						<p class="h4">{{ username }}</p>
						{% else %}
						<p class="h4">Histudy</p>
						{% endif %}
					</font>
				</a>
			</div>

			<div class="navbar justify-content-end">
				<div class="d-flex">
					{% if username %}
						<a class="btn btn-secondary btn-sm btn-outline-secondary active mr-2" href="{% url 'change_password' %}?next={{request.path}}">Change Password</a>
						<a class="btn btn-secondary btn-sm btn-outline-secondary active" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
					{% else %}
						<a class="btn btn-secondary btn-sm btn-outline-secondary active" href="{% url 'loginpage' %}?next={{request.path}}">Login</a>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			{% include 'messages.html' %}
			{% block content %}{% endblock %}
		</div>

        {% if username or user.is_staff %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom justify-content-between">
              <a class="nav-item nav-link" href="{% url 'profile' %}" style="color: White;"><i class="fas fa-id-badge fa-2x"></i></a>
              <a class="nav-item nav-link" href="{% url 'main' %}" style="color: White;"><i class="fas fa-clipboard fa-2x"></i></a>
			  <a class="nav-item nav-link" href="{% url 'announce' %}" style="color: White;"><i class="fas fa-bars fa-2x"></i></a>
            </nav>
        {% endif %}
	</body>
</html>
