<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
		<title>CSEE Study Group</title>
		{% endblock %}
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		  <!-- Add additional CSS in static file -->
  		{% load static %}
		<script src="https://kit.fontawesome.com/bb5d018091.js" crossorigin="anonymous"></script>
		{% block script %}{% endblock %}

	</head>

	<body>

		<nav id = "alarm" class="navbar" style="display:none;">
			<a class="nav-item text-light bg-primary fixed-top text-center" href="{% url 'main' %}">
				New Data Added!
			</a>
		</nav>

		<nav class="navbar navbar-expand-md navbar-light bg-dark mb-4">
			<div class="navbar justify-content-start">
				<a class="navbar-brand" href="{% url 'main' %}">
					<font color=white>
						<p class="h4">{{ username }}</p>
					</font>
				</a>
			</div>

			<div class="navbar justify-content-end">
				<div class="d-flex">
					{% if username %}
						{% if userobj.is_staff %}
						<a class="btn btn-secondary btn-sm btn-outline-secondary active mr-2" href="{% url 'signup' %}">Create New User</a>
						{% endif %}
						<a class="btn btn-secondary btn-sm btn-outline-secondary active" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
					{% else %}
						<a class="btn btn-secondary btn-sm btn-outline-secondary active" href="{% url 'loginpage' %}?next={{request.path}}">Login</a>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			{% block content %}{% endblock %}
		</div>

        {% if username or user.is_staff %}
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
              <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fas fa-id-badge fa-2x"></i></a>
              <a class="nav-item nav-link" href="{% url 'main' %}"><i class="fas fa-clipboard fa-2x"></i></a>
              <a class="nav-item nav-link" href="{% url 'announce' %}"><i class="fas fa-bars fa-2x"></i></a>
            </nav>
        {% endif %}
	</body>
</html>
