{% extends "base_template.html" %}
{% block content %}
<h4>Do you really want to delete this?</h4>
<hr>
<div class="infinite-container m-1" id="post_container">
    {% if item %}
    <p><img class="img-fluid" src="{{ item.image.url }}" alt=""> </p>
    <hr>
    <p><b>제목</b>: {{item.title}}</p>
    <p><b>날짜</b>: {{item.date}}</p>
    <p><b>코드생성시간</b>: {{item.when_saved}}</p>
    <p><b>확인코드</b>: {{item.code}}</p>
    <p><b>내용</b>: {{item.text}}</p>
    {% endif %}
</div>

<p>
    <a href="{% url 'confirm_delete' pk %}" class="btn btn-danger btn-sm" role="button"> DELETE </a>
    <a href="{% url 'main' %}" class="btn btn-primary btn-sm" role="button"> CANCEL </a>
</p>

{% endblock %}