{% extends "base_template.html" %}

{% block script %}
{% load static %}
<style>
    #manual_div{
        margin-left: auto;
        margin-right: auto;
        width: 24em
    }
</style>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center mt-4">

    <div class="">
        <div class="d-flex justify-content-center">
            <p class="h4 mb-3">Team Chickadee Contact</p>
        </div>

        <div id="contact_info" class="text-center">
            <i id="contact_info_icon" class="fa fa-address-card-o"></i>
            <p><a href='mailto:hisystem@handong.edu' target='_blank'> hisystem@handong.edu </a></p>
        </div>
    </div>

</div>


{% endblock %}
