{% extends "base_template.html" %}

{% block script %}
{% load static %}
<style>
    #manual_div{
        margin-left: auto;
        margin-right: auto;
        width: 24em
    }
</style>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center mt-4">

    <div class="">
        <div class="d-flex justify-content-center">
            <p class="h4 mb-3">Team Chickadee Contact</p>
        </div>

        <div id="contact_info" class="text-center">
            <i id="contact_info_icon" class="fa fa-address-card-o"></i>
            <p><a href='mailto:histudy@handong.edu' target='_blank'>histudy@handong.edu </a></p>
            <p>김성민 <i class="fa fa-user"></i>  &nbsp;&nbsp;&nbsp; 김도윤 <i class="fa fa-user"></i></p>
        </div>
    </div>

</div>

<div id="manual_div">
    <p class='manual'>Histutor 사용법을 알고 싶으신가요?&nbsp;<a href="https://www.notion.so/Histutor-Guideline-1112f633040742a280749b9a449a13b2" target="_blank">이곳</a>에서 확인하세요!</p>
</div>

{% endblock %}
