{% extends "base_template.html" %}
{% block script %}
{% load static %}

<!-- for infinite scroll -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<style>
</style>

<h3>{{year}}년도 {{sem}}학기 Group {{group}}</h3>

<a href="{% url 'group_profile' listuser%}" class="btn btn-outline-primary">Group Detail</a>

<div class="infinite-container m-1" id="post_container">
{% for photo in list %}
    <div class="infinite-item p-3" style="border-style:solid; border-color: #ebe6e3; border-width: 1px;">
        <div class="d-flex justify-content-between">
            <h4>{{photo.title}}</h4>
            <b>{{photo.date}}</b>
        </div>
        <p>
          <a href="{{photo.get_absolute_url}}">
            {% if photo.image %}<img class="img-fluid" src="{{photo.image.url}}" />{% endif %}
          </a>
        </p>
    </div>
{% endfor %}
</div>

{% if pics.has_next %}
    <a class="infinite-more-link" href="?page={{ pics.next_page_number }}">More</a>
{% endif %}

<div class="loading" style="display: none;">
    Loading...
</div>

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>


{% if msg %} <script>alert("{{ msg }}")</script> {% endif %}


{% endblock %}
