{% extends "base_template.html" %}
{% block script %}
{% load static %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<style>
    #form_container {
       border: 1px solid red;
       border-radius: 10px;
    }

    #post_container {
        border: 1px solid;
        border-radius: 10px;
    }

    #post_title{
        font-size: 130%;
    }
</style>

<h2 class="mb-4">Uploads</h2>

<div class="infinite-container border border-dark m-1" id="post_container">
{% for photo in list %}
    <div class="infinite-item border border-primary m-3 p-3">
        <div class="mb-3 page-header">
            <label for="title" id="post_title"><b>작성자</b>: {{photo.author}}</label>
        </div>

        <div class="mb-3">
            <label for="date" id="post_title"><b>날짜</b>: {{photo.date}}</label>
        </div>

        <div class="mb-3">
            <label for="text" id="post_title"><b>제목</b>: {{photo.title}}</label>
        </div>

        <div class="mb-3">
            <label for="date" id="post_title"><b>확인코드</b>: {{photo.code}}</label>
        </div>

        <div class="mb-3">
            <label for="date" id="post_title"><b>코드생성시간</b>: {{photo.when_saved}}</label>
        </div>

        <div class="mb-3">
            <label for="text" id="post_title"><b>설명</b>: {{photo.text}}</label>
        </div>

        <div class="mb-3">
            <label for="date" id="post_title"><b>사진</b></label>
            <p>
    		{% if photo.image %}<img class="img-fluid" src="{{photo.image.url}}" />{% endif %}
    	    </p>
        </div>

        <div class="navbar justify-content-end">
            <p>
                <a href="{% url 'delete_data' photo.pk %}" class = "btn btn-danger btn-sm" role = "button">삭제</a>
            </p>
        </div>



    </div>
{% endfor %}
</div>

{% if pics.has_next %}
    <a class="infinite-more-link" href="?page={{ pics.next_page_number }}">More</a>
{% endif %}

<div class="loading" style="display: none;">
    Loading...
</div>


<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>

{% endblock %}
