{% extends "base_template.html" %}
{% block script %}
{% load static %}

<!-- for infinite scroll -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- <link rel="stylesheet" href="{% static 'css/board.css' %}"> -->
{% endblock %}

{% block content %}

<style>
    table{
        table-layout: fixed;
    }

    table tr th:nth-child(1){
        width: 10%;
    }
    table tr td:nth-child(1){
        width: 10%;
    }

</style>

<div class="container">
    <div class="infinite-container m-1" id="post_container">
        <h2>등록된 스터디모임 보고서
            <a style="float:right;" href="{% url 'upload' %}" class="btn btn-outline-primary">보고서 쓰기</a>
        </h2>

        <table class="table table-inbox table-hover infinite-item">
        <tbody>
            {% if not posts.has_previous %}

            <tr>
                <th></th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
            </tr>
            {% endif %}

        {% for post in posts %}
            <tr class="unread">
                <td class="inbox-small-cells">
                    <!-- {{ post.pk }} -->
                    {{ forloop.revcounter }}
                </td>
                <td class="view-message  dont-show">
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </td>
                <td class="view-message">
                    {{ post.author.profile.name }}
                </td>
                <td class="view-message ">{{ post.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>


{% endblock %}
