{% extends "base_template.html" %}
{% block script %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/button.js' %}"></script>
{% endblock %}
{% block content %}

<form
    method="POST"
    action=""
    enctype="multipart/form-data"
    id="dataform"
>
    {% csrf_token %}
    {{ form.as_p }}
    <p>
	<button type="submit" class="btn-primary btn-block">+</button>
    </p>
</form>

{% for photo in list %}
        <p>{{photo.text}}</p>
        <p>{{photo.date}}</p>
	<p><a href="{{ photo.get_absolute_url }}">
		{% if photo.image %}<img class="img-fluid" src="{{photo.image.url}}" />{% endif %}
	</a></p>
{% endfor %}
{% endblock %}
