{% extends "base_template.html" %}
{% block content %}

<div class="container">
<h4>스터디그룹 현황
</h4>

<hr>
<table class="table table-inbox table-hover" style="font-size:12px; width:100%;">
    <tr>
        <th></th>
        <th>group</th>
        <th>posts</th>
        <th>most recent</th>
        <th>누적 공부 시간(분)</th>
        <th></th>
    </tr>
{% for group in list %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            {% if group.num_posts > 9 %}
            <font color="green">
            Group {{ group.no }}
            </font>
            {% else %}
            Group {{ group.no }}
            {% endif %}
        </td>
        <td>{{ group.num_posts }}</td>
        <td>{{ group.recent }}</td>
        <td>{{ group.total_dur }}</td>
{% endfor %}
</table>
</div>

{% endblock %}
