{% extends "base_template.html" %}
{% block content %}

<div class="container">


  <div class="tableDiv mypage_table">
  <ul class="nav nav-tabs">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'userList' %}">스터디 그룹 목록</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'grid' %}">스터디 사진 모음</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active">TOP 3</a>
      </li>
  </ul>
  </div>

  <br>

  <div>
      <form
          method="POST"
          action=""
          enctype="multipart/form-data"
          id="dataform"
          class="form-inline"
      >
          {% csrf_token %}

          <div>
            <select name="year" id="year" class="custom-select" style="float: right;">
                {% for year in years %}
                <option val={{ year.year }}> {{ year.year }} </option>
                {% endfor %}
            </select>
        </div>

          {% if chosen_year %}
          <script type="text/javascript">
            document.getElementById('year').value = "{{chosen_year}}";
          </script>
          {% else %}
          <script type="text/javascript">
            document.getElementById('year').value = "{{year}}";
          </script>
          {% endif %}

          <div>
              <select name="sem" id="sem" class="custom-select">
                  <option val="1"> 1 </option>
                  <option val="2"> 2 </option>
              </select>
          </div>

          {% if chosen_sem %}
          <script type="text/javascript">
            document.getElementById('sem').value = "{{chosen_sem}}";
          </script>
          {% else %}
          <script type="text/javascript">
            document.getElementById('sem').value = "{{sem}}";
          </script>
          {% endif %}

          <input type="submit" value="Load" class="btn btn-secondary" />
      </form>
  </div>


  <br>

  <table class="table table-inbox table-hover">
  <tbody>
      <tr>
          <th></th>
          <th>group</th>
          <th>10번째 스터디 날짜</th>
          <th>총 스터디 수</th>
      </tr>
   {% for group in list %}
      <tr class="unread">
          <td class="inbox-small-cells">
              {{ forloop.counter }}
          </td>

          <td class="view-message  dont-show">
              {{ group.username }}
          </td>
          <td>
            {{ group.date }}
          </td>
          <td class="view-message ">{{ group.num_posts }}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
