{% extends "base_template.html" %}
{% block content %}

<div class="container">
<h4>스터디그룹 현황
    <a style="float:right;" href="{% url 'top3' %}" class="btn btn-outline-primary">TOP 3</a>
    <a style="float:right;" href="{% url 'grid' %}" class="btn btn-outline-primary">GRID</a>
</h4>

<hr>

    <table class="table table-inbox table-hover" style="font-size:12px; width:100%;">
        <tbody>
        <tr>
            <th></th>
            <th>group</th>
            <th>posts</th>
            <th>most recent</th>
            <th>누적 공부 시간(분)</th>
            <th></th>
        </tr>
    {% for user in list %}
        {% if not user.is_staff %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                <a href="{% url 'list' user.username %}">
                {% if user.num_posts > 9 %}
                <font color="green">
                {{ user.username }}
                </font>
                {% else %}
                {{ user.username }}
                {% endif %}
                </a>
            </td>
            <td>{{ user.num_posts }}</td>
            <td>{{ user.recent }}</td>
            <td>{{ user.total_dur }}</td>
            <td><a class="confirm-delete" href="{% url 'confirm_delete_user' user.pk %}">유저삭제</a></td>
        </tr>
        {% endif %}
    {% endfor %}
    <tbody>
    </table>
</div>

<script>
    $(document).on('click', '.confirm-delete', function(){
    return confirm('유저를 삭제하시겠습니까?');
    })
</script>

{% endblock %}
