{% extends "base_template.html" %}
{% block content %}

<div class="container">
<h4>스터디그룹 현황
    <a style="float:right;" href="{% url 'top3' %}" class="btn btn-outline-primary">TOP 3</a>
</h4>
</div>

<hr>

<div class="container">
    <table class="table table-inbox table-hover" style="width:100%">
        <tbody>
        <tr>
            <th></th>
            <th>group</th>
            <th>posts</th>
            <th>most recent</th>
            <th>누적 공부 시간</th>
            <th></th>
        </tr>
    {% for user in list %}
        {% if not user.is_staff %}
        <tr>
            <th>
                {{ forloop.counter }}
            </th>
            <th>
                <a href="{% url 'list' user.username %}">
                {% if user.num_posts > 9 %}
                <font color="green">
                {{ user.username }}
                </font>
                {% else %}
                {{ user.username }}
                {% endif %}
                </a>
            </th>
            <th>{{ user.num_posts }}</th>
            <th>{{ user.recent }}</th>
            <th>{{ user.total_dur }}</th>
            <th><a class="confirm-delete" href="{% url 'confirm_delete_user' user.pk %}">유저삭제</a></th>
        </tr>
        {% endif %}
    {% endfor %}
    <tbody>
    </table>
</div>

<script>
    $(document).on('click', '.confirm-delete', function(){
    return confirm('유저를 삭제하시겠습니까?');
    })
</script>

{% endblock %}
