{% extends "base_template.html" %}
{% block content %}
<table style="width:100%">
    <tr>
        <th>RANK</th>
        <th>username</th>
        <th>posts</th>
        <th>most recent</th>
    </tr>
{% for user in list %}
    <tr>
        <th>
            {{ forloop.counter }}
        </th>
        <th>
            <a href="{% url 'list' user.username %}">
            {% if user.num_posts > 5 %}
            <font color="green">
            {{ user.username }}
            </font>
            {% else %}
            {{ user.username }}
            {% endif %}
            </a>
        </th>
        <th>{{ user.num_posts }}</th>
        <th>{{ user.recent }}</th>
        <th><a class="confirm-delete" href="{% url 'confirm_delete_user' user.pk %}">유저삭제</a></th>
    </tr>
{% endfor %}
</table>

<script>
    $(document).on('click', '.confirm-delete', function(){
    return confirm('유저를 삭제하시겠습니까?');
    })
</script>

{% endblock %}
