{% extends "base_template.html" %}
{% block content %}

<div class="container">

<div>
    <h2>Overwrite 경고</h2>
    <form method="POST">
        {% csrf_token %}
        <a href="{% url 'csv_upload' %}" type="button" class="btn btn-primary">Cancel</a>
        <input type="submit" value="Overwrite" style="margin-left:40%;" class="btn btn-danger">
    </form>
</div>
<hr>
<table class="table table-inboxx table-hover style="width:100%">
    <tbody>
    <tr>
        <th></th>
        <th>학번</th>
        <th>그룹</th>
    </tr>
{% for info in userinfo_list %}
    <tr class="unread">
        <td class="inbox-small-cells"> {{ forloop.counter }}</td>
        <td class="view-message dont-show">
            {{ info.student_id.student_id }}
        </td>
        <td class="view-message">{{ info.group.no }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

</div>

<script>
    $(document).on('click', '.confirm-delete', function(){
    return confirm('공지를 삭제하시겠습니까?');
    })
</script>

{% endblock %}
