#login{
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    border-style: solid;
    border-color: lightblue;
}

body{
    background-color: powderblue;
}