nav.navbar div.container a.navbar-brand p{
    color:white;
}

nav.navbar div.container div.navbar-collapse ul.navbar-nav li.nav-item a{
    color:white;
}

nav.navbar div.container div.navbar-collapse ul.navbar-nav li.nav-item div.dropdown-menu a{
    color:black;
}

nav.navbar div.container div.navbar-collapse ul.navbar-nav li.dropdown:hover .dropdown-menu{
    display: block;
}

nav.navbar div.container div.navbar-collapse ul.navbar-nav li.nav-item:hover a{
    text-decoration: underline;
}

div.container-fluid div.carousel div.carousel-inner div.carousel-item img{
    width:100%;
}